
#root {
    display: block;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    box-shadow: 0 0 1px #000; 
    background: #898989;
    clear: both;
}

#info {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;

}
.square {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    box-shadow: 0 0 1px #000 inset;
    background: #eee;
}
.circle {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.white {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 3px #ccc,
                0 2px 2px #eee inset;
}

.black {
    background: #000;
    border: 1px solid #000;
    box-shadow: 0 0 3px #ccc,
                0 2px 2px #222 inset;
}