body {
    background: rgb(0, 188, 212);
}
#info {
    margin-bottom: 10px;
    padding-top: 10px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px; 
    text-align: center;   
    text-shadow: 1px 1px #000;

}

#root {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    max-width: 320px;
    margin: 0 auto;
    padding: 0px;
    border-bottom: 1px solid rgba(0,0,0,.4);
    border-right: 1px solid rgba(0,0,0,.4);
    box-shadow: 0 0 30px #333; 
    background: rgb(238, 238, 238);
    border-radius: 10px;
    overflow: hidden;
    user-select:none;
    -webkit-tap-highlight-color:rgba(255,0,0,0);
}

.square {
    position: relative;
    flex-grow: 1;
    margin: 0;
    box-shadow: 1px 1px 1px rgba(0,0,0,.4) inset;
}
.circle {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.white {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 3px #ccc,
                0 2px 2px #eee inset;
}

.black {
    background: #000;
    border: 1px solid #000;
    box-shadow: 0 0 3px #ccc,
                0 2px 2px #222 inset;
}